{% extends 'base.html' %}
{% block content%}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        {{blog.blog_title}}
                    </div>
                    <div class="card-body">
                        {{blog.blog_body}}
                    </div>
                </div>
               <h2 style="text-align: center;"><b>Comments</b></h2> 
               <a href="/blog/profile/comment/new/{{blog.id}}" class="btn btn-primary">add coment</a>
               <div class="row">
                   {% for com in comment %}
                        <div class="card">
                            <p>{{comment.blog_comment}} <br><i>posted by </i>~{{com.user}}<br> <i>posted on </i> {{com.posted}}</p>
                        </div>
                    {% endfor%}
               </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock%}